@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One WakePal Avenue<br />
    Stockholm<br />
    <abbr title="Phone">P:</abbr>
    +44 7388693777
</address>

<address>
    <strong>Support:</strong> <a href="mailto:slawomir98@outlook.com">slawomir98@outlook.com</a><br />
</address>
